body,head{
    background-color: whitesmoke;
}
h1{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: goldenrod;
    text-align: center;
    
}
.button1{
   
    position: absolute;
    top: 10px;
    right: 10px;
   
}
.image1{
   position: absolute;
   left: 5%;
   border-radius: 100px;
}
h2{
    background-color: silver;
}
.image2
{
    position: absolute;
    left: 400px;
    top: 350px;
    
}
.intro{
    position: absolute;
    top: 800px;
    background-color: silver;
    padding-top: 100px;
    padding-bottom: 100px;
    font-style: italic;
    text-align: center;
    width: 1340px;
    font-size: larger;
}
.column1{
    background-color: bisque;
    position: absolute;
    top:1130px;
    left:200px;
    width: 300px;
    height: 300px;
}
.column2{
    background-color: yellow;
    position: absolute;
    top:1130px;
    left:500px;
    width: 300px;
    height: 300px;
}
.column3{
    background-color: gold;
    position: absolute;
    top:1130px;
    left:800px;
    width: 300px;
    height: 300px;
}
.heading{
    background-color: whitesmoke;
    text-align: center;
    font-weight: lighter;

}
.row{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
